.register.login,
.register2.login2 {
	width: 560px;
}

.en_US,
.en_US input,
.en_US textarea,
.en_US select,
.en_US button,
.en_US table {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Dotum, sans-serif;
}
body,
input,
textarea,
select,
button,
table,
pre {
	font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', Dotum, sans-serif;
	background-color: #f6f6f9;
}
html {
	-webkit-text-size-adjust: none;
}

.register h1 {
	padding: 80px 0 40px;
}

.kr_instance2 h1 span {
	width: 263px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/logo_naverworks.svg) no-repeat;
}

.register h1 span {
	display: block;
	width: 220px;
	height: 28px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/logo_naverworks.svg) no-repeat;
	margin: 0 auto;
	background-size: 100%;
	font-size: 0;
	line-height: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
	margin: 0;
	padding: 0;
}

h1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.register {
	max-width: 698px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}
.en_US,
.en_US input,
.en_US textarea,
.en_US select,
.en_US button,
.en_US table {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Dotum, sans-serif;
}
body,
input,
textarea,
select,
button,
table,
pre {
	font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', Dotum, sans-serif;
}
html {
	-webkit-text-size-adjust: none;
}

.register.login #container {
	padding-top: 45px;
}
.register #container,
.register .container {
	margin: 0 auto;
	padding: 50px 6%;
	background-color: #fff;
	border: 1px solid #e5e5e6;
	border-radius: 2px;
	text-align: left;
	word-break: break-all;
}

div {
	display: block;
}

.kr_instance .register h1 span {
	width: 263px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/logo_naverworks.svg) no-repeat;
}

.register {
	max-width: 698px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

.en_US,
.en_US input,
.en_US textarea,
.en_US select,
.en_US button,
.en_US table {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Dotum, sans-serif;
}

.register .login_infor .user {
	display: block;
	font-size: 24px;
	line-height: 36px;
	color: #222;
	text-align: center;
	font-weight: normal;
}

em,
address {
	font-style: normal;
}

.register .login_infor .user ~ .desc {
	margin-top: 7px;
}

.register.login .check_info {
	position: relative;
	margin: 19px auto 0;
	max-width: 460px;
	min-height: 19px;
	text-align: right;
}

.register.login .find_info {
	display: inline-block;
	min-width: 181px;
	max-width: 460px;
	line-height: 18px;
	vertical-align: top;
}

.login_line_desc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 9px 0 4px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	justify-content: center;
	font-size: 12px;
	color: #999;
	align-items: center;
}

.login_line_desc:after,
.login_line_desc:before {
	content: '';
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	border-top: 1px solid #e5e5e6;
	height: 0;
}

.register.login .find_info a {
	clear: right;
	float: right;
	font-size: 14px;
	color: #434343;
	text-decoration: underline;
}

.register.login .find_info:after {
	clear: both;
	display: block;
	content: '';
}

.login_line_desc:before {
	margin-right: 24px;
}

.login_line_desc:after {
	margin-left: 24px;
}

.register .login_infor .desc {
	display: block;
	font-size: 14px;
	line-height: 20px;
	color: #767676;
	text-align: center;
	margin-bottom: 7px;
}

.register .btn .login_line {
	position: relative;
	background: #fff;
	margin-top: 16px;
	border: 1px solid #c5c5c6;
	color: #222;
	padding: 0 40px;
}

.register .btn .login_line:before {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 16px;
	width: 24px;
	height: 24px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/common_24_logoline_fill.svg) no-repeat;
	content: '';
}

.register .fm_register {
	max-width: 460px;
	margin: 0 auto;
	padding: 29px 0 0;
}

.blind {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 0;
	background: none;
	font-size: 0;
	line-height: 0;
}

.register.login .login_form_cover input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 40%;
	flex: 1 1 40%;
	border: 0;
	outline: none;
	font-size: 17px;
	line-height: 26px;
	color: #222;
	padding: 11px 7px;
	background: transparent;
}

.register.login .bottom_text a {
	color: #434343;
	text-decoration: underline;
}

.register .welcome_link a {
	margin-left: 12px;
	color: #157efb;
	text-decoration: underline;
}

.register.login .login_form_cover {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}

.register.login .wrong_message {
	margin: 0 auto;
	padding: 12px 0 0;
	max-width: 460px;
}

.register.login .wrong_message p {
	font-size: 14px;
	color: #fd472b;
	line-height: 23px;
	word-wrap: break-word;
	word-break: keep-all;
}

.register .btn .login_normal:disabled,
.register .btn .login_normal.disabled {
	background-color: #ccc;
	cursor: default;
}
.register.login .btn button {
	display: block;
	width: 100%;
	height: 48px;
	font-size: 15px;
}
.register .btn .login_normal {
	border: 1px solid #b2b2b2;
	background-color: #157efb;
	border: 0;
}
.register .btn button {
	display: inline-block;
	height: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #07b53b;
	border-radius: 2px;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 40px;
	color: #fff;
	border: 0;
	min-width: 129px;
	box-sizing: border-box;
}

.register.login .find_info {
	display: inline-block;
	min-width: 181px;
	max-width: 460px;
	line-height: 18px;
	vertical-align: top;
}

.register.login .btn {
	padding-top: 20px;
}

.register .btn {
	max-width: 460px;
	margin: 0 auto;
	padding: 60px 0 0;
	text-align: center;
}

.register.login .bottom_text {
	font-size: 12px;
	line-height: 18px;
	color: #767676;
	padding: 0;
	margin: 30px 0 0;
	text-align: center;
}

.register .welcome_link {
	padding: 28px 0 4px;
	font-size: 14px;
	color: #767676;
	line-height: 1.5;
	text-align: center;
}

em,
address {
	font-style: normal;
}

html,
body {
	width: 100%;
	height: 100%;
}

.register2 .fm_register2 {
	max-width: 460px;
	margin: 0 auto;
	padding: 29px 0 0;
}

.register2.login {
	max-width: 560px;
}

.register2 {
	max-width: 680px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

.register2 h1 {
	padding: 80px 0 40px;
}

.kr_instance2 .register2 h1 span {
	width: 263px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/logo_naverworks.svg) no-repeat;
}

.register2 h1 span {
	display: block;
	width: 220px;
	height: 28px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/logo_lineworks_v3_5.svg) no-repeat;
	margin: 0 auto;
	background-size: 100%;
	font-size: 0;
	line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
menu,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
	margin: 0;
	padding: 0;
}

.register2 #container2,
.register2 .container2 {
	margin: 0 auto;
	padding: 50px 6%;
	background-color: #fff;
	border: 1px solid #e5e5e6;
	border-radius: 2px;
	text-align: left;
	word-break: break-all;
}

.register2 .login_infor2 .user2 {
	display: block;
	font-size: 24px;
	line-height: 36px;
	color: #222;
	text-align: center;
	font-weight: normal;
}

.register2 .fm_register {
	max-width: 460px;
	margin: 0 auto;
	padding: 29px 0 0;
}

.register2 .fm_register2 .inp2 {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 48px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.register2.login2 .fm_register2 .tail_words2,
.register2.login2 .register2.loginegister2 .tail_words2 {
	float: right;
	padding-top: 14px;
	font-size: 14px;
	line-height: 21px;
	color: #767676;
}

.register2.login .fm_register .inp_wrap,
.register2.login .register2.loginegister .inp_wrap {
	position: relative;
	overflow: hidden;
	display: block;
}

.register2 .fm_register2 .inp2 label.blind2 {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
}

.register2 .fm_register2 .inp2 input {
	outline-style: none;
	width: 100%;
	height: 47px;
	border: 0 none;
	font-size: 17px;
	color: #222;
	line-height: 32px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 0;
	background: none;
	vertical-align: top;
}

.register2 .fm_register2 .inp2 .btn_delete2 {
	display: none;
	position: absolute;
	top: 13px;
	right: 11px;
	padding: 5px;
	border: 0;
}

.register2 .fm_register2 .inp2 .ico_delete2 {
	display: block;
	width: 14px;
	height: 14px;
	background: url(https://static.worksmobile.net/static/pwe/nworks/dm/sp_loginprocess_v3.png) no-repeat;
	background-position: 0 -170px;
}

.blind2 {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 0;
	background: none;
	font-size: 0;
	line-height: 0;
}

.register2 .fm_register2 .inp2 label.blind2 {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
}

.register2.login2 .fm_register2 .inp2 + .inp2,
.register2.login2 .register2.loginegister2 .inp2 + .inp2 {
	margin-top: 12px;
	background: transparent;
}

.inp2 {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 48px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.register2 .fm_register2 .inp2 label {
	position: absolute;
	top: 0;
	left: 6px;
	padding: 12px 6px;
	height: 47px;
	line-height: 23px;
	right: 0;
	font-size: 17px;
	color: #989898;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: text;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.register2 .fm_register2 .inp2 .btn_masking2 {
	position: absolute;
	top: 8px;
	right: 0;
	padding: 4px;
	background: #fff;
	border: 0;
}

.register .btn .login_naver {
	position: relative;
	background: #fff;
	margin-top: 16px;
	border: 1px solid #c5c5c6;
	color: #222;
	padding: 0 40px;
}

.register .btn .login_naver:before {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 16px;
	content: '';
	background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8512 12.5684L8.91906 4H4V20H9.14883V11.4316L15.0809 20H20V4H14.8512V12.5684Z' fill='%2303C75A'/%3E%3C/svg%3E") no-repeat;
	width: 24px;
	height: 24px;
}

.blind2 {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 0;
	background: none;
	font-size: 0;
	line-height: 0;
}

.register2.login2 .captcha2 {
	padding-top: 28px;
}

.register2.login2 .captcha2 p {
	padding: 0 0 8px 10px;
	color: #333;
	font-size: 14px;
}

.register2.login2 .captcha2 .captcha_box2 {
	position: relative;
}

.register2.login2 .wrong_message2 {
	margin: 0 auto;
	padding: 12px 0 0;
	max-width: 460px;
}

.register2.login2 .wrong_message2 p {
	font-size: 14px;
	color: #fd472b;
	line-height: 23px;
	word-wrap: break-word;
	word-break: keep-all;
}

.register2.login2 .btn2 {
	padding-top: 20px;
}

.register2 .btn2 {
	max-width: 460px;
	margin: 0 auto;
	padding: 60px 0 0;
	text-align: center;
}

.register2 .btn2 .login_normal2:disabled,
.register2 .btn2 .login_normal2.disabled {
	background-color: #ccc;
	cursor: default;
}

.register2.login2 .check_info2 {
	position: relative;
	margin: 19px auto 0;
	max-width: 460px;
	min-height: 19px;
	text-align: right;
}

.register2.login2 .check_info2 .check_box2 {
	display: inline-block;
	vertical-align: top;
}

.register2.login2 .check_box2 {
	position: relative;
	float: left;
	padding: 0 0 19px;
	font-size: 14px;
	color: #333;
}

.register2.login2 .check_box2 input {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	opacity: 0;
	filter: alpha(opacity=0);
	vertical-align: top;
}

.register2.login2 .check_info2 .check_box2 label {
	font-size: 14px;
}
.register2.login2 .check_box2 label {
	display: inline-block;
	position: relative;
	z-index: 20;
	min-height: 24px;
	font-size: 14px;
	vertical-align: top;
}

.register2.login2 .check_box2 label:before {
	content: '';
	background-image: url(https://static.worksmobile.net/static/pwe/wm/common/sp_auth_e3470cf2.png);
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(https://static.worksmobile.net/static/pwe/wm/common/sp_auth_15695427.svg);
	background-image: linear-gradient(transparent, transparent), url(https://static.worksmobile.net/static/pwe/wm/common/sp_auth_15695427.svg);
	background-size: 178px 132px;
	background-position: -64px -104px;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: -2px 9px 0 0;
	vertical-align: middle;
}

.register2.login2 .check_info2:after {
	clear: both;
	display: block;
	content: '';
}

.register2.login2 .btn2 button {
	display: block;
	width: 100%;
	height: 48px;
	font-size: 15px;
}

.register2 .btn2 .btn_authenticate2 {
	position: relative;
	background: #f5f5f6;
	margin-top: 27px;
	border: 1px solid #c5c5c6;
	color: #222;
	padding: 0 40px;
	margin-bottom: 22px;
}
.register2 .btn2 button {
	display: inline-block;
	height: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #07b53b;
	border-radius: 2px;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 40px;
	color: #fff;
	border: 0;
	min-width: 129px;
	box-sizing: border-box;
}

.register2 .btn2 .login_line2 {
	position: relative;
	background: #fff;
	margin-top: 16px;
	border: 1px solid #c5c5c6;
	color: #222;
	padding: 0 40px;
}

.register2 .btn2 .btn_authenticate2 ~ .login_line_desc2 {
	padding-top: 4px;
}

.register2.login2 .login_line_desc2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 9px 0 4px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.register2 .btn2 .btn_authenticate2 ~ .login_line_desc2 {
	padding-top: 4px;
}

.register2.login2 .login_line_desc2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 9px 0 4px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.login_line_desc2:before {
	margin-right: 24px;
}

.login_line_desc2:after {
	margin-left: 24px;
}

.register2.login2 .login_line_desc2:after,
.register2.login2 .login_line_desc2:before {
	content: '';
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	border-top: 1px solid #e5e5e6;
	height: 0;
}
S .register2 .btn2 .login_line2 {
	position: relative;
	background: #fff;
	margin-top: 16px;
	border: 1px solid #c5c5c6;
	color: #222;
	padding: 0 40px;
}

.register2 .btn2 .login_line2:before {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 16px;
	width: 24px;
	height: 24px;
	background: url(https://static.worksmobile.net/static/pwe/wm/common/common_24_logoline_fill.svg) no-repeat;
	content: '';
}

.register2.login2 .find_info2 {
	display: inline-block;
	min-width: 181px;
	max-width: 460px;
	line-height: 18px;
	vertical-align: top;
}

.register2.login2 .find_info2 a {
	clear: right;
	float: right;
	font-size: 14px;
	color: #434343;
	text-decoration: underline;
}

.register2.login2 .find_info2 a + a {
	padding-top: 15px;
}

.register2.login2 .find_info2 a {
	clear: right;
	float: right;
	font-size: 14px;
	color: #434343;
	text-decoration: underline;
}

.register2.login2 .find_info2:after {
	clear: both;
	display: block;
	content: '';
}

em,
address {
	font-style: normal;
}

.register2 .welcome_link2 {
	padding: 28px 0 4px;
	font-size: 14px;
	color: #767676;
	line-height: 1.5;
	text-align: center;
}

.register2 .welcome_link2 span {
	padding-right: 12px;
}

.register2 .welcome_link2 {
	padding: 28px 0 4px;
	font-size: 14px;
	color: #767676;
	line-height: 1.5;
	text-align: center;
}

.register2 .welcome_link2 a {
	margin-left: 12px;
	color: #157efb;
	text-decoration: underline;
}

.register2 address,
.register address {
	padding: 36px 0 30px;
	font-size: 12px;
	color: #777;
}

.register2 .btn2 .btn_authenticate2 {
	position: relative;
	background: #f5f5f6;
	margin-top: 27px;
	border: 1px solid #c5c5c6;
	color: #222;
	padding: 0 40px;
	margin-bottom: 22px;
}

.register2 .btn2 .btn_authenticate2:before {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 15px;
	content: '';
	background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.75 1H18.25C19.215 1 20 1.785 20 2.75V21.25C20 22.215 19.215 23 18.25 23H5.75C4.785 23 4 22.215 4 21.25V2.75C4 1.785 4.785 1 5.75 1ZM18.25 21.5C18.388 21.5 18.5 21.388 18.5 21.25V2.75C18.5 2.612 18.388 2.5 18.25 2.5H14.7C14.728 2.579 14.75 2.661 14.75 2.75C14.75 3.164 14.414 3.5 14 3.5H10C9.586 3.5 9.25 3.164 9.25 2.75C9.25 2.661 9.272 2.579 9.3 2.5H5.75C5.612 2.5 5.5 2.612 5.5 2.75V21.25C5.5 21.388 5.612 21.5 5.75 21.5H18.25Z' fill='%23222222'/%3E%3C/svg%3E")
		no-repeat 0 0;
	width: 24px;
	height: 24px;
}

.welcome_link2 {
	padding: 28px 0 4px;
	font-size: 14px;
	color: #767676;
	line-height: 1.5;
	text-align: center;
}

.welcome_link2 a {
	margin-left: 12px;
	color: #157efb;
	text-decoration: underline;
}

.welcome_link2 span {
	padding-right: 12px;
}

.kr_instance2 address {
	padding: 36px 0 30px;
	font-size: 12px;
	color: #777;
	text-align: center;
}

.register2 .fm_register2 .inp2 .btn_masking2 {
	position: absolute;
	top: 8px;
	right: 0;
	padding: 4px;
	background: #fff;
	border: 0;
}

.register2 .fm_register2 .inp2 .btn_masking2.checked2:before {
	background-position: -354px -277px;
}

.register2 .fm_register2 .inp2 .btn_masking2:before {
	content: '';
	background-image: url(https://static.worksmobile.net/static/pwe/wm/common/sp_join_6383c284.png);
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(https://static.worksmobile.net/static/pwe/wm/common/sp_join_0647b21d.svg);
	background-image: linear-gradient(transparent, transparent), url(https://static.worksmobile.net/static/pwe/wm/common/sp_join_0647b21d.svg);
	background-size: 456px 405px;
	background-position: -160px -351px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.register2.login2 .fm_register2 .inp_wrap2 input,
.register2.login2 .register2.loginegister2 .inp_wrap2 input {
	line-height: 21px;
}
